<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
	<session-factory>
		<property name="hibernate.connection.driver_class">oracle.jdbc.driver.OracleDriver</property>
		<property name="hibernate.connection.url">jdbc:oracle:thin:@111.111.1.111:1111:ABCDE
		</property>
		<property name="connection.username">test</property>
		<property name="connection.password">test</property>

		<property name="hibernate.hbm2ddl.auto">update</property>
		<property name="hibernate.dialect">org.hibernate.dialect.OracleDialect</property>
		<property name="hibernate.show_sql">true</property>
		<property name="hibernate.connection.pool_size">5</property>
		<property name="hibernate.current_session_context_class">thread</property>

		<mapping resource="patient.hbm.xml" />
		<mapping resource="staff.hbm.xml" />
		<mapping resource="organization.hbm.xml" />
		<mapping resource="appointment.hbm.xml" />
		<mapping resource="test.hbm.xml" />
		<mapping resource="testCategories.hbm.xml" />
		<mapping resource="definition.hbm.xml" />
		<mapping resource="session.hbm.xml" />
		<mapping resource="admission.hbm.xml" />
		<mapping resource="protocol.hbm.xml" />
		<mapping resource="servicetype.hbm.xml" />
		<mapping resource="anamnez.hbm.xml" />
		<mapping resource="service.hbm.xml" />
	</session-factory>
</hibernate-configuration>


